.education{
    background-color: rgb(36, 35, 35);
    color: #fff;
}
.education .education-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px 0;
}
#edu{
    margin: 15px 0;
}
.edu-item{
    border-bottom: 1px solid orange;
}
@media screen and (max-width:1025px){
    .education .education-container{
        display: block;
        padding-left: 20px;
    }
}